<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.management.mapper.AchievementsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="achievementsResultMap" type="org.springblade.management.entity.Achievements">
        <id column="id" property="id"/>
        <result column="project_amount" property="projectAmount"/>
        <result column="project_completion" property="projectCompletion"/>
        <result column="project_defect" property="projectDefect"/>
        <result column="project_modify" property="projectModify"/>
        <result column="project_plan" property="projectPlan"/>
        <result column="create_time" property="createTime"/>
        <result column="remark" property="remark"/>
        <result column="staff_id" property="staffId"/>
        <result column="staff_name" property="staffName"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="score" property="score"/>
        <result column="rating" property="rating"/>
    </resultMap>


    <select id="selectAchievementsPage" resultMap="achievementsResultMap">
        select *
        from blade_achievements
        where is_deleted = 0
    </select>

    <select id="selectAll" resultMap="achievementsResultMap"
            parameterType="org.springblade.management.entity.Achievements">
        select * from blade_achievements
        <where>
            <if test="id!=null">
                id = #{id}
            </if>
            <if test="staffId!=null">
                and staff_id = #{staffId}
            </if>
            <if test="staffName!=null">
                and staff_name = #{staffName}
            </if>
            <if test="score!=null">
                and score = #{score}
            </if>
            <if test="rating!=null">
                and rating = #{rating}
            </if>
        </where>
    </select>

    <select id="getMonth" resultMap="achievementsResultMap">
        SELECT * FROM `blade_achievements` WHERE DATE_FORMAT( create_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
    </select>

</mapper>
