<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.management.mapper.StaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="staffResultMap" type="org.springblade.management.entity.Staff">
        <id column="id" property="id"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="staff_name" property="staffName"/>
        <result column="base_salary" property="baseSalary"/>
        <result column="performance_salary" property="performanceSalary"/>
        <result column="provident_fund" property="providentFund"/>
        <result column="overtime_leave" property="overtimeLeave"/>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
        <result column="dept_id" property="deptId"/>
        <result column="staff_number" property="staffNumber"/>
    </resultMap>


    <select id="selectStaffPage" resultMap="staffResultMap">
        select * from blade_staff where is_deleted = 0
    </select>

    <insert id="addNew" parameterType="org.springblade.management.entity.Staff">
        insert into blade_staff
            (staff_name,base_salary,performance_salary,provident_fund,overtime_leave,user_id,role_id,dept_id,staff_number)
        values
            (#{staffName},#{baseSalary},#{performanceSalary},#{providentFund},#{overtimeLeave},(SELECT id from blade_user order by create_time desc limit 1),#{roleId},#{deptId},#{staffNumber})
    </insert>

    <select id="selectByStaffId" resultMap="staffResultMap" parameterType="java.lang.Long">
        select * from blade_staff where user_id = #{staffId}
    </select>

</mapper>
